################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/464f8447-c22c-4d7c-9722-317035821b63.vsidx
/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/d5a2a3ab-181f-4088-9c84-af6575360759.vsidx
/Desktop/Organization/frontend/.vs/frontend/v17/.wsuo
/Desktop/Organization/frontend/.vs/frontend/v17/DocumentLayout.json
/Desktop/Organization/frontend/.vs/slnx.sqlite
/Desktop/Organization/frontend/.vs/VSWorkspaceState.json
