################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/41578de1-a26f-4294-8f5d-afdfbc0da3c0.vsidx
/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/d5a2a3ab-181f-4088-9c84-af6575360759.vsidx
/Desktop/Organization/frontend/.vs/frontend/v17/.wsuo
/Desktop/Organization/frontend/.vs/frontend/v17/DocumentLayout.json
/Desktop/Organization/frontend/.vs/slnx.sqlite
/Desktop/Organization/frontend/.vs/VSWorkspaceState.json
