################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/464f8447-c22c-4d7c-9722-317035821b63.vsidx
/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/d5a2a3ab-181f-4088-9c84-af6575360759.vsidx
/Desktop/Organization/frontend/.vs/frontend/v17/.wsuo
/Desktop/Organization/frontend/.vs/frontend/v17/DocumentLayout.json
/Desktop/Organization/frontend/.vs/slnx.sqlite
/Desktop/Organization/frontend/.vs/VSWorkspaceState.json
/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/a0e9659b-0eab-4b09-b37b-d44b0d9af507.vsidx
/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/aba8f585-4599-41cc-b9b6-f5c47259950c.vsidx
/Desktop/Organization/frontend/.vs/frontend/FileContentIndex/22b509ec-cbba-414b-9252-69b74ed8854a.vsidx
